@import "./reset";
@import "./mixins";
html, body {
  height: 100%;
}
body {
  display: flex;
  background-color: #555;
}
#app {
  width: 100%;
  display: flex;
  &, & * {
    color: #fff;
  }
  h1 {
    font-weight: 600;
  }
  .btn {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: none;
    &:disabled {
      cursor: default;
      pointer-events: none;
    }
  }
  .btn.blue {
    border: 1px solid rgb(53, 164, 255);
    background-color: rgb(53, 164, 255);
    &:hover {
      filter: brightness(1.1);
    }
  }
  .btn.white {
    background-color: transparent;
    border: 1px solid #fff;
    &:hover {
      box-shadow: 0 0 5px #fff;
    }
  }
}
#form-input-name {
  @include size(500px, 300px);
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 72px;
    margin-bottom: 80px;
  }
  input, button {
    font-size: 24px;
  }
  input {
    margin-right: 15px;
    padding: 8px 16px;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: transparent;
    &:focus {
      box-shadow: 0 0 5px #fff;
    }
    &::placeholder {
      color: #bbb;
    }
  }
}
#hall {
  width: 100%;
  font-size: 22px;
  h1 {
    padding: 20px 50px 25px;
    font-size: 52px;
  }
  .table {
    padding: 0 50px;
    height: 520px;
  }
  .thead {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 4px solid #ccc;
  }
  .thead .field:nth-child(1), .room-item .room-name {
    width: 70%;
    padding: 0 30px;
  }
  .thead .field:nth-child(2), .room-item .player-count {
    width: 15%;
    text-align: center;
  }
  .thead .field:nth-child(3), .room-item .room-status {
    width: 15%;
    text-align: center;
  }
  .room-item {
    padding: 10px 0;
    display: flex;
    align-items: flex-end;
    border-bottom: 2px solid #ccc;
  }
  #create-room {
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 22px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px solid #fff;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 5px #fff;
    }
  }
}
#room {
  @include size(100%, auto);
  display: flex;
  * {
    font-size: 22px;
  }
  .panel {
    padding: 33px 0 0 50px;
    width: 50%;
    .btn {
      padding: 6px 36px;
      & + .btn {
        margin-left: 10px;
      }
    }
  }
  .other {
    display: flex;
    align-items: flex-end;
    .btn {
      margin-bottom: 10px;
    }
    .time-left {
      margin-left: auto;
      font-size: 36px;
      span {
        display: inline-block;
        width: 90px;
        font-size: 56px;
        text-align: center;
      }
    }
  }
  .player-list {
    --color: #999;
    .player {
      padding: 10px 0 10px 20px;
      font-size: 28px;
      border-bottom: 1px solid var(--color);
      &, & * {
        color: var(--color);
      }
      &.active, &.active * {
        --color: #fff;
      }
      span {
        margin-left: 30px;
      }
    }
  }
  .chat {
    .output {
      margin-bottom: 10px;
      padding: 10px 15px 0;
      height: 377px;
      border: 1px solid #fff;
      border-radius: 4px;
      .message {
        display: flex;
        span {
          display: flex;
          font-size: 18px;
        }
        span:nth-child(1) {
          width: 30%;
          display: flex;
          justify-content: flex-end;
          padding-right: 18px;
        }
      }
    }
    .send {
      display: flex;
      input {
        border: 1px solid #fff;
        border-radius: 4px;
        padding: 6px 12px;
        background-color: transparent;
        flex-grow: 1;
        &:focus {
          box-shadow: 0 0 5px #fff;
        }
      }
      button {
        margin-left: 15px;
      }
    }
  }
  #board {
    @include size(640px, 640px);
    margin: 35px auto 0 48px;
    position: relative;
    outline: 2px solid #ff0000;
    background-color: rgb(255, 189, 58);
    pointer-events: none;
  }
}
.line {
  &.horizontal {
    @include size(562px, 2px);
    margin: 0 auto;
    left: 0;
    right: 0;
    @for $i from 1 through 15 {
      &:nth-child(#{$i}) {
        margin-top: $i * 40px - 1px;
      }
    }
  }
  &.vertical {
    @include size(2px, 562px);
    margin: auto 0;
    top: 0;
    bottom: 0;
    @for $i from 1 through 15 {
      &:nth-child(#{$i}) {
        margin-left: $i * 40px - 1px;
      }
    }
  }
  position: absolute;
  background-color: #000;
}
.dot {
  @include size(7px, 7px);
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 50%;
  &:nth-child(1) {
    top: 50%;
    left: 50%;
  }
  &:nth-child(2) {
    top: 4 * 40px;
    left: 4 * 40px;
  }
  &:nth-child(3) {
    top: 4 * 40px;
    left: 12 * 40px;
  }
  &:nth-child(4) {
    top: 12 * 40px;
    left: 4 * 40px;
  }
  &:nth-child(5) {
    top: 12 * 40px;
    left: 12 * 40px;
  }
}
.piece {
  @include size(29px, 29px);
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  &.black {
    &:hover {
      background-color: rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    }
    &.active {
      background-color: #000;
      box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    }
  }
  &.white {
    &:hover {
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0 0 4px rgba(255, 255, 255, 1);
    }
    &.active {
      background-color: #fff;
      box-shadow: 0 0 4px rgba(255, 255, 255, 1);
    }
  }
}
#user-count {
  position: fixed;
  top: 20px;
  right: 50px;
  color: #fff;
  font-size: 22px;
}
/*#region modal*/
#modal-room-name {
  .modal-dialog {
    margin-top: 200px;
  }
  .modal-header {
    border-bottom: none;
  }
  .modal-footer {
    border-top: none;
  }
  .modal-title {
    font-size: 28px;
  }
  input {
    font-size: 24px;
  }
  .btn {
    font-size: 16px;
  }
}
/*#endregion modal*/
/*#region reset*/
[v-cloak] {
  display: none !important;
}
.df {
  display: flex;
}
#toast-container {
  margin-top: 30px;
  .toast {
    box-shadow: 0 0 5px #ddd;
    &:hover {
      box-shadow: 0 0 5px #fff;
    }
  }
  .toast-message {
    font-family: Arial;
    font-size: 20px;
  }
}
/*#endregion reset*/